<div id="index01">
    <div class="index01list">
        <div class="index01listtext">
            <div class="t">倫敦金條市場協會</div>
            <div class="b">全球最大的黃金場外交易市場中心，行業權威機構全球最大的黃金場外交易市場中心，行業權威機構</div>
        </div>
        <img src="public/images/index0101.jpg" />
    </div>
    <div class="index01list">
        <div class="index01listtext">
            <div class="t">倫敦金條市場協會</div>
            <div class="b">全球最大的黃金場外交易市場中心，行業權威機構全球最大的黃金場外交易市場中心，行業權威機構</div>
        </div>
        <img src="public/images/index0102.jpg" />
    </div>
    <div class="index01list">
        <div class="index01listtext">
            <div class="t">倫敦金條市場協會</div>
            <div class="b">全球最大的黃金場外交易市場中心，行業權威機構全球最大的黃金場外交易市場中心，行業權威機構</div>
        </div>
        <img src="public/images/index0103.jpg" />
    </div>
</div>

<div id="index02">
    <div class="index02list">
        <img src="public/images/index0201.jpg" />
        <div class="index02listtext">
            <div class="t">關於我們</div>
            <div class="b">黃金貿易是最重要的主營業務。</div>
            <a href="">查看更多</a>
        </div>
    </div>
    <div class="index02list">
        <img src="public/images/index0202.jpg" />
        <div class="index02listtext">
            <div class="t">教育中心</div>
            <div class="b">用作國際儲備。這是由黃金貨幣商品的屬性決定的。</div>
            <a href="">查看更多</a>
        </div>
    </div>
</div>